body,html {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    margin: 0 0 0 0!important;
    padding: 0 0 0 0!important;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    padding: 0!important;
    margin: 0 auto;

}
#tools {
    position: relative;
    min-width: 50px ;
    height: 100%;
    width: 3%;
    background-color: teal;
    margin: 0!important;
    float: left;
    padding-left: 0.5%;
}

#project_menu {
    min-width: 160px ;
    position: relative;
    height: 100%;
    width: 14%;
    background-color: #F4F4F4;
    margin: 0!important;
    float: left;
}

#main {
    position: relative;
    height: 100%;
    min-width: 600px ;
    width: 76%;
    margin: 0!important;
    float: left;

}